#media-form .form-control {
  background-color: #242424;
  border: 1px solid black;
}
#media-form .form-control:active,
#media-form .form-control:focus,
#media-form .form-control:focus-within {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}
#media-form input{
    margin-bottom: 20px;
}
.submit-btn{
    background-color: #e50e07;
    color:white;
}
.buttom-divider{
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}